.styledBkrnd {
  position: fixed;
  background-color: black;
  height: 98vh;
  width: 98vw;
  opacity: .8;
  padding: 5px;
};

.styledBkrndHide {
  position: fixed;
  background-color: black;
  height: 40px;
  width: 40px;
  margin: 5px;
};

.styledText {
  color: white;
  font-family: helvetica;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 100
};

.styledText:hover {
  text-shadow: 0 0 5px yellow;
  cursor: pointer;
}

.menuBtn {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: black;
  cursor: pointer;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50vh;
  margin-top: -300px
}

.hide {
  display: none;
}

.hamBeef,
.hideBeef,
.hamOne,
.hamTwo,
.xOne,
.xTwo  {
  position: absolute;
  background-color: white;
  width: 40px;
  height: 5px;
}

.xOne,
.xTwo {
  margin-left: 0;
  -webkit-transition: transform .5s;
  transition-timing-function: ease;
}

.xOne {
  transform: rotate(45deg);
  transform-origin: 15% 150%;
  margin-top: 5px;
}

.xTwo {
  transform: rotate(-45deg);
  transform-origin: 10% -100%;
  margin-top: 30px;
}

.hamBeef {
  margin-top: 17.5px;
  opacity: 1;
  transition-timing-function: ease;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  transition-delay: .2s;
}

.hideBeef {
  margin-top: 17.5px;
  opacity: 0;
  transition-timing-function: ease;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.hamOne,
.hamTwo {
  transform: rotate(0deg);
  margin-left: 0;
  -webkit-transition: transform .5s;
  transition: transform .5s;
}

.hamOne {
  transform-origin: 15% 100%;
  margin-top: 5px;
}

.hamTwo {
  transform-origin: 0 -15%;
  margin-top: 30px;
  // transition-delay: 1s;
}
