@keyframes slideRight{
  0%{width: 40px; height: 40px}
  100%{width: 98vw; height: 40px}
}
@keyframes slideOut{
  0%{height: 40px}
  100%{height: 98vh}
}
@keyframes hideBeef{
  0%{opacity: 1}
  100%{opacity: 0}
}
.styledBkrnd {
  overflow: hidden;
  position: absolute;
  display: flex;
  background-color: black;
  height: 100vh;
  width: 100vw;
  opacity: .8;
  .menu{
    animation: slideRight 1s linear, slideOut 3s linear 1s forwards;
    box-shadow: 0px 0px 10px limegreen;
    overflow: hidden;
    width: 98vw;
    height: 98vh;
    border-radius: 5px;
    margin: auto;
    h1{
      color: white;
      font-family: helvetica;
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 100;
      &:hover{
        text-shadow: 0 0 5px yellow;
        cursor: pointer;
      }
    }
  }
};

.styledBkrndHide {
  position: fixed;
  background-color: black;
  height: 40px;
  width: 40px;
};

.menuBtn {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: black;
  cursor: pointer;
}

.show {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.hamBeef,
.hideBeef,
.hamOne,
.hamTwo,
.xOne,
.xTwo  {
  position: absolute;
  background-color: white;
  width: 40px;
  height: 5px;
}

.xOne,
.xTwo {
  margin-left: 0;
  -webkit-transition: transform .5s 4s;
  transition-timing-function: ease;
}

.xOne {
  transform: rotate(45deg);
  transform-origin: 15% 150%;
  margin-top: 5px;
}

.xTwo {
  transform: rotate(-45deg);
  transform-origin: 10% -100%;
  margin-top: 30px;
}

.hamBeef {
  margin-top: 17.5px;
  opacity: 1;
}

.hideBeef {
  margin-top: 17.5px;
  animation: hideBeef .1s linear forwards 4s;
}

.hamOne,
.hamTwo {
  transform: rotate(0deg);
  margin-left: 0;
  -webkit-transition: transform .5s;
  transition: transform .5s;
}

.hamOne {
  transform-origin: 15% 100%;
  margin-top: 5px;
}

.hamTwo {
  transform-origin: 0 -15%;
  margin-top: 31px;
  // transition-delay: 1s;
}
